*:focus {
	outline-color: $raven;
}

::-webkit-input-placeholder {
   color: $grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: $grey;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $grey;
}

:-ms-input-placeholder {
   color: $grey;
}


// #FormBasics
// ---------------------------------------
form {
    position: relative;
}

input,
textarea,
select {
	width: 100%;
	padding: 6px;
	border: 1px solid $heather;
}

select {
    padding: 5px 6px;
}

textarea {
	padding-top: 10px;
	padding-bottom: 10px;
}

label {
	display: block;
	padding-bottom: 6px;
	color: $stone;
}

button[type="submit"] {
    display: block;
    width: 100%;
	padding: 8px 24px;
	background-color: $blue;
    border: 3px solid $blue;
	border-radius: 2px;
	font-size: 20px;
	font-weight: 600;
	color: $white;

	&:focus,
	&:hover {
        outline: none;
		background-color: transparent;
		color: $blue;
	}
}


// #FormModules
// ---------------------------------------
.form_block {
    position: relative;
    clear: both;
	margin-bottom: 40px;
    
    &.right,
    &.left {
        clear: none;
        width: 48%;
    }
    
    &.right {
        float: right;
    }
    
    &.left {
        float: left;
    }
    
    &.buttons {
        margin-top: -20px;
        margin-bottom: 0;
    }
}

.form_group {
    @include clearfix;
	margin-bottom: 40px;
}

.form--label {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    padding: 0 8px;
    font-size: 16px;
    color: $grey;
    line-height: 34px;
    transition: all $t-fast;
    
    span {
        font-size: 70%;
        float: right;
        color: $heather;
    }
    
    &.focused {
        top: -24px;
        padding: 0;
        line-height: 24px;
    }
}

.form--input,
.form--textarea {
    position: relative;
    z-index: 1;
    padding: 6px 8px;
    background-color: transparent;
    border: 1px solid $sterling;
    
    &:focus {
        outline: none;
        border-color: $blue;
    }
}

.form--textarea {
    min-height: 90px;
    line-height: 1.25;
}

.form--heading {
    margin-bottom: 40px;
    @include font-size(20);
    color: $stone;
    text-align: center;
}

.form--button {
    width: 80%;
    margin: 30px auto 0;
    padding: 12px 0;
}


// #Form Errors
// ---------------------------------------
.form_errors {
    clear: both;
    margin: 20px 0;
    padding: 10px 20px;
	background-color: $ruby;
}

.form_errors--list {
	margin: 0;
    list-style: none;
}

.form_errors--item {
    margin: 4px;
	color: $white;
	line-height: 1.4;
}


// #FormThanks
// ---------------------------------------
.form_thanks {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    padding: 20px;
    background-color: $white;
    background-color: transparentize($white, 0.2);
}

.form_thanks--heading {
    margin: 10px 0 20px;
    @include font-size(30);
    color: $blue;
    text-align: center;    
}

.form_thanks--text {
    @include font-size(18);
    text-align: center;
}