*:focus {
	outline-color: $raven;
}

::-webkit-input-placeholder {
   color: $grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: $grey;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $grey;
}

:-ms-input-placeholder {
   color: $grey;
}



// Form Parts
input,
textarea,
select {
	width: 100%;
	padding: 6px;
	border: 1px solid $heather;
}

select {
    padding: 5px 6px;
}

textarea {
	padding-top: 10px;
	padding-bottom: 10px;
}

label {
	display: block;
	padding-bottom: 6px;
	color: $stone;
}

button[type="submit"] {
    display: block;
    width: 100%;
	padding: 8px 24px;
	background-color: $blue;
	border-radius: 2px;
	font-size: 20px;
	font-weight: 600;
	color: $white;

	&:focus,
	&:hover {
		background-color: $raven;
		color: $white;
	}
}

.error_message {
	margin: -14px 0 14px;
	color: red;
}


// Form Block
.form_block {
    position: relative;
    clear: both;
	margin-bottom: 40px;
    
    &.right,
    &.left {
        clear: none;
        width: 48%;
    }
    
    &.right {
        float: right;
    }
    
    &.left {
        float: left;
    }
}

.form_group {
    @include clearfix;
}

.form--label {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    padding: 0 8px;
    font-size: 16px;
    color: $grey;
    line-height: 34px;
    transition: all $t-fast;
    
    &.focused {
        top: -24px;
        padding: 0;
        line-height: 24px;
    }
}

.form--input,
.form--textarea {
    padding: 6px 8px;
    background-color: transparent;
    border: 1px solid $sterling;
    
    &:focus {
        outline: none;
        border-color: $blue;
    }
}

.form--textarea {
    min-height: 90px;
    line-height: 1.25;
}

.form--heading {
    margin-bottom: 40px;
    @include font-size(20);
    color: $stone;
    text-align: center;
}

.form--button {
    width: 80%;
    margin: 30px auto 0;
    padding: 12px 0;
}