// #Contact
// ---------------------------------------
p.contact--hours {
    margin: 6px 0 14px;
}
p.contact--phone {
    margin: 0;
}
p.contact--email {
    margin: 0;
}
.contact--address {
    margin: 14px 0;
    font-style: normal;
    line-height: 1.5;
}