// #PageTop
// ---------------------------------------
.page_top {
    padding: 20px 0;
    background-color: $sterling;
    
    .section_inner {
        padding-right: 200px;
    }
}

.page_top--heading {
    display: inline-block;
    @include font-size(80);
    font-family: 'Brandon-Bold';
    color: $asher;
    letter-spacing: -3px;
    text-transform: uppercase;
}

.page_top--years {
    position: absolute;
    top: 10px;
    right: 0;
}


// #PageBody
// ---------------------------------------
.page_body {
	@include clearfix();
    padding: 40px 0;
}

.page_body--right {
    float: right;
    width: 54%;
}

.page_body--left {
    float: left;
    width: 40%;
    
    h2 {
        padding-bottom: 20px;
    }
    
    p {
        margin-bottom: 14px;
    }
}

.page_body--full {
    clear: both;
    padding-top: 30px;
}