// #PageTop
// ---------------------------------------
.page_top {
    padding: 16px 0;
    background-color: darken($raven, 3%);
    
    .section_inner {
        padding-right: 200px;
    }
}

.page_top--heading {
    display: inline-block;
    @include font-size(70);
    font-family: $f-brand-bold;
    font-weight: normal;
    color: $pearl;
    letter-spacing: -3px;
    text-transform: uppercase;
}

.page_top--years {
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -30px;
}


// #PageBody
// ---------------------------------------
.page_body {
    
    .section_inner {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $white;
    }
}

.page_body--right {
    float: right;
    width: 54%;
}

.page_body--left {
    float: left;
    width: 40%;
    
    h2 {
        padding-bottom: 20px;
    }
    
    p {
        margin-bottom: 14px;
    }
}

.page_body--skinny {
    clear: both;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}