// #PageTop
// ---------------------------------------
.page_top {
    padding: 16px 0;
    background-color: darken($raven, 3%);
    
    .section_inner {
        padding-right: 200px;
        
        @include bp(800) {
            padding-right: 120px;
        }
        
        @include bp(660) {
            padding-right: 0;
        }
    }
}

.page_top--heading {
    display: inline-block;
    @include font-size(70);
    font-family: $f-brand-bold;
    font-weight: normal;
    color: $pearl;
    letter-spacing: -3px;
    text-transform: uppercase;
    
    @include bp(1040) {
        @include font-size(50);
    }
    
    @include bp(660) {
        @include font-size(36);
        letter-spacing: 0;
        text-align: center;
    }
}

.page_top--years {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -30px;
    
    @include bp(800) {
        margin-top: -22px;
    }
    
    @include bp(660) {
        display: none;
    }
}


// #PageBody
// ---------------------------------------
.page_body {
    
    .section_inner {
        padding: 40px;
        background-color: $white;
        
        @include bp(860) {
            width: 100%;
            padding: 20px 40px;
        }
        
        @include bp(660) {
            padding: 20px;
        }
        
        @include bp(480) {
            padding: 20px 10px;
        }
    }
}

.page_body--right {
    float: right;
    width: 54%;
    
    @include bp(1040) {
        float: none;
        width: 100%;
    }
}

.page_body--left {
    float: left;
    width: 40%;
    
    @include bp(1040) {
        float: none;
        width: 100%;
    }
    
    h2, h3 {
        clear: both;
        padding-bottom: 20px;
    }
    
    p {
        margin-bottom: 14px;
    }
}

.page_body--skinny {
    clear: both;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}