.hire_heading {
    max-width: 800px;
    margin: 0 auto 10px;
}

.hire_text {
    max-width: 800px;
    margin: 0 auto 20px;
}

.hire_form {
    max-width: 800px;
    margin: 30px auto 0;
    
    .form_group {
        padding: 20px 20px 0;
        border: 1px solid $heather;
    }
}