.hire_heading {
    margin-bottom: 10px;
}

.hire_text {
    margin-bottom: 20px;
}

.hire_form {
    margin-top: 30px;
    
    .form_group {
        padding: 20px 20px 0;
        border: 1px solid $heather;
        
        @include bp(600) {
            padding: 20px 10px 0;
        }
    }
}