.testimonials_content {
    
    @include bp(1040) {
        position: relative;
        
        h3, p {
            padding-right: 55%;
        }
    }
    
    @include bp(740) {
        
        h3, p {
            padding-right: 0;
        }
    }
}

// #TestimonialsForm
// ---------------------------------------
.testimonials_form {
    margin-top: 40px;
    
    @include bp(1040) {
        position: absolute;
        top: 26px;
        right: 0;
        width: 50%;
        
        .form_block.right,
        .form_block.left {
            float: none;
            width: 100%;
        }
    }
    
    @include bp(740) {
        position: static;
        width: 100%;
    }
}


// #TestimonialsQuote
// ---------------------------------------
.testimonial_quote {
    position: relative;
    margin-bottom: 30px;
    padding-left: 120px;
    
    @include bp(540) {
        padding-left: 0;
        text-align: right;
    }
}

.testimonial_quote--text {
    position: relative;
	@include font-size(14);
	color: $asher;
	line-height: 1.5;
    text-align: left;

	i {
        float: left;
        margin-right: 4px;
		font-size: 20px;
		color: $blue;
        line-height: 1;
	}
}

.testimonial_quote--author {
	margin-top: 10px;
	@include font-size(14);
	color: $asher;
    line-height: 1;
}

.testimonial_quote--company {
	@include font-size(12);
	color: $asher;
}

.testimonial_quote--logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    
    @include bp(540) {
        position: static;
        margin-top: 12px;
    }
}