.quote {
    float:right;
    margin: 10px;
    margin-top: 0;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    padding-top: 10px; 
    padding-bottom: 10px;
    width:40%;
    height:auto;
}

.quote--text {
    @include font-size(12);
    font-family: Georgia, "Times New Roman", Times, serif; 
    line-height: 14pt;
    color:orange;
}
.quote--credit {
    float: right; 
    font-size: 10px; 
    margin-top: 10px;
    color:grey;
}

.columns2 {
    font-size:1em;
    clear:both;
    padding-top:40px;
    h5 {
        font-size: 1.2em;
        font-weight: 600; 
        padding-bottom:10px;
    }
}

.promoimage {
    align: center;
    padding-top:30px;
    width:100%;
}

.columns3 {
    font-size:8pt;
    clear:both;
    h5 {
        background-color: orange;
        font-size: 10pt;
        font-weight: 600; 
        text-align: center;
        line-height: 3em;
    }
}

.floater2 {
    float:left;
    width:50%;
}

.floater3 {
    float:left;
    width:33%;
    border: 1px solid #ccc; 
    h5 {
        color: white;
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
        padding: 10px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        line-height: normal;
    }
}

.grey_button {
    background: grey; 
    color: white;
    display: block;
    font-size: 10px; 
    font-weight: bold; 
    height: 18px; 
    letter-spacing: .15em;
    padding-top: 5px; 
    text-align: center;
    text-decoration: none; 
    text-transform: uppercase; 
}
    