.quote {
    float:right;
    margin: 10px;
    margin-top: 0;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    padding-top: 10px; 
    padding-bottom: 10px;
    width:200px;
    height:auto;
}

.quote--text {
    @include font-size(12);
    font-family: Georgia, "Times New Roman", Times, serif; 
    line-height: 14pt;
    color:orange;
}
.quote--credit {
    float: right; 
    font-size: 10px; 
    margin-top: 10px;
    color:grey;
}

.columns2 {
    font-size:8pt;
    clear:both;
    h5 {
        font-size: 10pt;
        font-weight: 600; 
        background-color: orange;
    }
}.columns3 {
    font-size:8pt;
    clear:both;
    h5 {
        font-size: 10pt;
        font-weight: 600; 
        background-color: orange;
    }
}

.floater3 {
    float:left;
    width:33%;
}

.grey_button {
    background: grey; 
    color: #fff;
    display: block;
    font-size: 10px; 
    font-weight: bold; 
    height: 18px; 
    letter-spacing: .15em;
    padding-top: 5px; 
    text-decoration: none; 
    text-transform: uppercase; 
}
    