// #WorkContent
// --------------------------------------- 
.work--heading {
    padding-bottom: 20px;
}

.work--text {
    margin-bottom: 14px;
}


// #WorkList
// --------------------------------------- 
.work--list {
    @include clearfix;
    margin: 0;
    list-style: none;
}

.work--item {
    float: left;
    width: 16.6%;
    padding: 20px;
    text-align: center;
}

.work--link {
    display: inline-block;
    
    &:focus {
        outline: none;
    }
    
    &:hover {
        
        .work--image {
            opacity: 1.0;
        }
    }
}

.work--image {
    border: 10px solid $blue;
    opacity: 0.7;
    
    &.brand {
        border-color: $brand;
    }
    
    &.web {
        border-color: $web;
    }
    
    &.ux {
        border-color: $ux;
    }
}


// #WorkQuote
// --------------------------------------- 
.work_quote--text {
    position: relative;
    padding-left: 40px;
	color: $asher;
	line-height: 1.5;

	i {
        position: absolute;
        top: 4px;
        left: 0;
		font-size: 32px;
		color: $blue;
	}
}

.work_quote--author {
	margin-top: 10px;
	color: $asher;
	text-align: right;
    line-height: 1;
}

.work_quote--company {
	@include font-size(14);
	color: $asher;
	text-align: right;
}