//Colors
$blue: #00B6FF;

$purple: #6C477A;
$green: #6F9942;
$red: #CB5944;
$yellow: #D9B346;

$darkblue: #071339;
$darkblueOverlay: #061422;


$forest: #228b22;
$amber: #f08c2d;
$ruby: #c02f1d;
$sky: #00a8ff;

$jet: #131516;
$raven: #373537;
$asher: #555151;
$stone: #707070;
$grey: #97979a;
$sterling: #b0b0b2;
$heather: #c7c7c9;
$pearl: #e2e3e4;
$lilia: #f2f3f4;
$white: #ffffff;


$text: $stone;
$heading: $raven;

$container: $lilia;
$content: $white;