//Colors
$blue: #00B6FF;

$purple: #6C477A;
$green: #6F9942;
$red: #CB5944;
$yellow: #D9B346;

$darkblue: #071339;
$darkblueOverlay: #061422;


$forest: #228B22;
$amber: #F08C2D;
$ruby: #C02F1D;
$sky: #00A8FF;

$jet: #131516;
$raven: #373537;
$asher: #555151;
$stone: #707070;
$grey: #97979a;
$sterling: #B0B0B2;
$heather: #C7C7C9;
$pearl: #E2E3E4;
$lilia: #F2F3F4;
$white: #FFFFFF;


$text: $stone;
$heading: $raven;

$brand: $yellow;
$marketing: $purple;
$web: $green;
$ux: $red;