// Font
$f-sans: "Roboto", Arial, Helvetica, sans-serif;
$f-serif: "PT Serif", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;


// Height
$h-pageBar: 48px;

// Width
$w-logo: 60px;

// Speed
$t-fast: 0.2s;
$t-default: 0.4s;
$t-slow: 0.8s;
