.site_footer {
    padding: 20px 0;
    background-color: $jet;
    
    .section_inner {
        min-height: 110px;
        padding-left: 340px + 60px;
        
        @include bp(1240) {
            padding-left: 0;
        }
    }
}


// #Menu
// ---------------------------------------
.site_footer--menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    
    @include bp(1240) {
        position: static;
        clear: both;
        margin-bottom: 20px;
        text-align: center;
    }
    
    @include bp(800) {
        max-width: 440px;
        margin: 10px auto 20px;
    }
}

.site_footer--item {
    display: inline-block;
}

.site_footer--link {
    display: block;
    padding: 6px 10px;
    border: 2px solid transparent;
    font-size: 16px;
    @include link-colors($sterling, $white);
    
    &.selected {
        border-color: $stone;
        
        &:hover {
            border-color: $white;
        }
    }
    
    @include bp(800) {
        &.selected {
            border-color: transparent;

            &:hover {
                border-color: transparent;
            }
        }
    }
}


// #Menu
// ---------------------------------------
.site_footer--contact {
    padding-top: 42px;
    text-align: right;
    
    @include bp(1240) {
        float: right;
        padding: 0 0 10px;
    }
    
    @include bp(560) {
        float: none;
        text-align: center;
    }
}

.site_footer--contact--text {
    color: $sterling;
    line-height: 1.5;
    
    @include bp(560) {
        display: inline-block;
    }
}


// #About
// ---------------------------------------
.site_footer--about {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 340px;
    
    @include bp(1240) {
        position: relative;
        float: left;
        margin: 10px 0;
    }
    
    @include bp(560) {
        float: none;
        width: 100%;
        margin: 0 auto 10px;
        text-align: center;
    }
}

.site_footer--about--logo {
    margin-bottom: 6px;
    
    .logo {
        height: $h-logo - 10px;
    }
}

.site_footer--about--text {
    font-size: 14px;
    color: $sterling;
    line-height: 1.25;
    
    @include bp(1240) {
        display: none;
    }
}


// #Social
// ---------------------------------------
.site_footer--social {
    position: absolute;
    top: -2px;
    left: 175px;
    margin: 0;
    list-style: none;
    
    @include bp(560) {
        position: static;
        margin: 16px auto 0;
    }
}

.site_footer--social--item {
    display: inline-block;
    margin-right: 6px;
    font-size: 30px;
    
    a {
        @include link-colors($stone, $blue);
    }
}


// #Copyright
// ---------------------------------------
.site_footer--copyright {
    position: absolute;
    right: 0;
    bottom: -10px;
    font-size: 14px;
    color: $asher;
    text-align: center;
    
    a {
        @include link-colors(inherit, $blue);
    }
    
    @include bp(800) {
        clear: both;
        position: static;
        bottom: auto;
        margin-bottom: -10px;
    }
}