.site_footer {
    padding: 20px 0;
    background-color: $raven;
    
    .section_inner {
        min-height: 110px;
        padding-left: 340px + 60px;
    }
}


// #Menu
// ---------------------------------------
.site_footer--menu {
    margin: 0;
    list-style: none;
    text-align: right;
}

.site_footer--item {
    display: inline-block;
}

.site_footer--link {
    display: block;
    padding: 6px 10px;
    border: 2px solid transparent;
    font-size: 16px;
    @include link-colors($heather, $white);
    
    &.selected {
        border-color: $stone;
        
        &:hover {
            border-color: $white;
        }
    }
}


// #Menu
// ---------------------------------------
.site_footer--contact {
    padding-top: 15px;
    text-align: right;
}

.site_footer--contact--text {
    color: $sterling;
    line-height: 1.25;
}


// #About
// ---------------------------------------
.site_footer--about {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 340px;
    padding-right: 20px;
}

.site_footer--about--logo {
    margin-bottom: 6px;
    

    .logo--icon {
        height: $w-logo - 10px;
        width: $w-logo - 10px;
    }

    .logo--title {
        font-size: $w-logo;
    }

    .logo--icon--square,
    .logo--icon--circle {
        background-color: $raven;
    }
}

.site_footer--about--text {
    font-size: 14px;
    color: $heather;
    line-height: 1.25;
}


// #Social
// ---------------------------------------
.site_footer--social {
    position: absolute;
    top: 2px;
    left: 190px;
    margin: 0;
    list-style: none;
}

.site_footer--social--item {
    display: inline-block;
    margin-right: 6px;
    font-size: 30px;
    
    a {
        @include link-colors($stone, $blue);
    }
}


// #Copyright
// ---------------------------------------
.site_footer--copyright {
    position: absolute;
    right: 0;
    bottom: -10px;
    font-size: 14px;
    color: $stone;
    text-align: center;
    
    a {
        @include link-colors(inherit, $blue);
    }
}