.site_footer {
    height: 90px;
    background-color: $darkblue;
}


// #Copyright
// ---------------------------------------
.site_copyright {
    padding: 8px 0;
    font-size: 14px;
    color: $grey;
    text-align: center;
}