.site_header {
    @include clearfix;
    position: relative;
    z-index: 9999;
    height: $h-header;
    background-color: $jet;
        
    @include bp(560) {
        height: $h-header - 10px;
    }
}

// Home Page
#home .site_header {
    background-color: transparent;
}

.site_header--logo {
    float: left;
    padding-top: 15px; // header height - logo title - adj

    .logo {
        height: $h-logo;
        
        @include bp(560) {
            height: $h-logo - 10px;
        }
    }
}


// #Nav
// ---------------------------------------
.site_nav {
    position: relative;
    height: $h-header;
        
    @include bp(560) {
        height: $h-header - 10px;
    }
}

// Button
.site_nav--button {
    display: none;
    float: right;
    margin: 11px 0 12px;
    padding: 10px 12px;
    border: 2px solid $stone;
    font-size: 18px;
    color: $stone;
    
    &:hover {
        border-color: $white;
        color: $white;
    }
    
    &.active,
    &:focus {
        outline: none;
        background-color: $blue;
        border-color: $blue;
        color: $white;
    }
    
    @include bp(860) {
        display: block;
    }
        
    @include bp(560) {
        padding: 5px 12px;
    }
}

// Main Menu
.site_nav--menu {
    margin: 0;
    list-style: none;
    text-align: right;
    
    @include bp(860) {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 6px;
        background-color: $blue;
    }
}

.site_nav--item {
    position: relative;
    display: inline-block;
    padding: (($h-header - 44px) / 2) 4px;
    
    &:hover {
        .site_nav--submenu {
            display: block;
        }
    }
    
    @include bp(860) {
        display: block;
        padding: 0;
    
        &:hover {
            .site_nav--submenu {
                display: none;
            }
        }
    }
}

.site_nav--link {
    display: block;
    padding: 10px 12px;
    border: 2px solid transparent;
    font-size: 18px;
    @include link-colors($sterling, $white);
    
    &.selected {
        border-color: $stone;
        
        &:hover {
            border-color: $white;
        }
    }
    
    @include bp(860) {
        padding: 6px 16px;
        @include link-colors($white, $blue);
        
        &:hover {
            background-color: $white;
        }
        
        &.selected {
            border-color: transparent;

            &:hover {
                border-color: transparent;
            }
        }
    }
}


// Submenu
.site_nav--submenu {
    display: none;
    position: absolute;
    top: 101%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding-bottom: 8px;
    background-color: $jet;
    list-style: none;
}

.site_nav--submenu--item {
    padding: 0 8px;
    text-align: center;
}

.site_nav--submenu--link {
    display: block;
    padding: 5px 10px;
    border: 1px solid transparent;
    font-size: 16px;
    @include link-colors($heather, $white);
}




// Set active page
#home .home,
#work .work,
#services .services,
#brand .brand,
#marketing .marketing,
#web .web,
#ux .ux,
#about .about,
#contact .contact,
#hire .hire {
    background-color: $blue;
    border-color: $blue;
    @include link-colors($white, $white);
    
    @include bp(860) {
        border-color: $white;
        border-right: none;
        border-left: none;
    }
}