.site_header {
    @include clearfix;
    height: $h-header;
    background-color: $raven;
}

.site_header--logo {
    float: left;
    padding-top: 7px; // header height - logo title - adj

    .logo--icon--square,
    .logo--icon--circle {
        background-color: $raven;
    }
}


// #Nav
// ---------------------------------------
.site_nav {
}

// Main Menu
.site_nav--menu {
    margin: 0;
    list-style: none;
    text-align: right;
}

.site_nav--item {
    position: relative;
    display: inline-block;
    padding: (($h-header - 38px) / 2) 4px;
    
    &:hover {
        .site_nav--submenu {
            display: block;
        }
    }
}

.site_nav--link {
    display: block;
    padding: 10px 12px;
    border: 2px solid transparent;
    font-size: 18px;
    @include link-colors($heather, $white);
    
    &.selected {
        border-color: $stone;
        
        &:hover {
            border-color: $white;
        }
    }
}


// Submenu
.site_nav--submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
    margin: 0;
    padding-bottom: 8px;
    background-color: $raven;
    list-style: none;
}

.site_nav--submenu--item {
    padding: 0 8px;
}

.site_nav--submenu--link {
    display: block;
    padding: 5px 10px;
    border: 1px solid transparent;
    font-size: 16px;
    @include link-colors($heather, $white);
}




// Set active page
#home .home,
#work .work,
#services .services,
#brand .brand,
#marketing .marketing,
#web .web,
#ux .ux,
#about .about,
#contact .contact,
#hire .hire {
    background-color: $blue;
    border-color: $blue;
    @include link-colors($white, $white);
}