html,
body {
    height: 100%;
}

body {
	min-width: 1200px;
    background-color: $grey;
}

.section_inner {
    position: relative;
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    
    &.clearfix {
        @include clearfix;
    }
}