html,
body {
    height: 100%;
}

body {
	min-width: 320px;
    background-color: $grey;
}

.section_inner {
    position: relative;
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
    
    &.clearfix {
        @include clearfix;
        width: 90%;
    }
}