.hire_text {
  max-width: 600px;
  margin: 0 auto;
}

.hire_form {
  max-width: 700px;
  margin: 30px auto 0;
}

.hire_form--textarea {
  min-height: 90px;
}

.hire_form--button {
  width: 80%;
  margin: 30px auto 0;
  padding: 12px 0;
}
