.site_cta {
    @include clearfix;
    padding: 16px 0;
    background-color: darken($raven, 3%);
}

.site_cta--text {
    @include font-size(30);
    color: $pearl;
    text-align: center;
    
    @include bp(520) {
        @include font-size(24);
    }
}
.site_cta--button {
    display: inline-block;
    margin-left: 30px;
    padding: 4px 24px;
    background-color: $blue;
    border: 3px solid $blue;
    @include font-size(20);
    font-weight: 700;
    @include link-colors($white, $blue);
    vertical-align: middle;
    
    &:hover {
        background-color: transparent;
        text-decoration: none;
    }
    
    @include bp(860) {
        display: block;
        width: 90%;
        max-width: 300px;
        margin: 10px auto 0;
    }
    
    @include bp(520) {
        max-width: 240px;
        padding: 2px 10px;
        @include font-size(16);
    }
}