// #Logo
// ---------------------------------------
.logo {
    
    &:hover {

        .logo--icon--square {
            border-radius: 60%;
        }

        .logo--icon--circle {
            border-radius: 0;
        }
    }
}

.logo--icon {
    position: relative;
    display: inline-block;
    height: $w-logo;
    width: $w-logo;
    background-color: $blue;
}

.logo--icon--square,
.logo--icon--circle {
    display: block;
    position: absolute;
    left: 12%;
    height: 23%;
    width: 23%;
    background-color: $jet;
    transition: all $t-default;
}

.logo--icon--square {
    top: 33%;
}

.logo--icon--circle {
    top: 66%;
    border-radius: 60%;
}

.logo--title {
    display: inline-block;
    margin-left: 4px;
    font-size: $w-logo + 14px;
    font-family: $f-logo;
    color: $blue;
    letter-spacing: -2px;
    line-height: 1;
}