.page_top {
    position: relative;
    padding: 20px 0;
    background-color: transparentize($darkblueOverlay, 0.1);
    text-align: center;

    &.index {
    }
}

.page_top--image {
    
}

.page_top--heading {
    display: inline-block;
    margin-bottom: 20px;
    padding: 70px 10px 10px;
    border-bottom: 1px solid $white;
    @include font-size(48);
    color: $white;
    text-align: center;
}

.page_top--image {
    
}

.page_top--image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center center;
}


// #Bar
// ---------------------------------------
//.page_top--bar {
//    position: absolute;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    height: $h-pageBar;
//    background-color: $pearl;
//}
//
//.page_top--bar--inside {
//	width: 90%;
//	max-width: 1200px;
//	margin-right: auto;
//	margin-left: auto;
//}


// #Customers
// ---------------------------------------
//.customers {
//    @include clearfix;
//    margin: 0;
//    padding: 10px ;
//    list-style: none;    
//}
//
//.customers--item {
//    float: left;
//    height: 60px;
//    width: 8.3%;
//    text-align: center;
//    
//    img {
//        height: 60px;
//    }
//}