.years {
    height: 60px;
    width: 180px;
    font-family: 'Brandon-Bold';
    font-size: 16px;
    color: $sterling;
    line-height: 1;
    
    @include bp(800) {
        height: 44px;
        width: 100px;
        font-size: 11px;
    }
}

%years--line {
    width: 51px;
    margin: 0;
    border: none;
    border-bottom: 4px solid $blue;
    
    @include bp(800) {
        width: 34px;
        border-width: 2px;
    }
}

.years--top {
    margin-bottom: 2px;
}
.years--bottom {
    position: relative;
    text-align: right;
}

.years--top--main {
    font-size: 125%;
}
.years--top--sub {
    display: block;
    font-size: 87.5%;
}
.years--top--mid {
    margin: 0 -3px;
    font-size: 112.5%;
    color: $stone;
    vertical-align: baseline;
}
.years--top--line {
    @extend %years--line;
}

.years--bottom--main {
    font-size: 100%;
    vertical-align: top; 
}
.years--bottom--sub {
    display: inline-block;
    font-size: 62.5%;
    line-height: 1;
}
.years--bottom--mid {
    margin: 0 -3px;
    font-size: 150%;
    line-height: .875;
    vertical-align: top;
    letter-spacing: -2px;
    
    @include bp(800) {
        margin: 0 1px;
    }
}
.years--bottom--line {
    @extend %years--line;
    position: absolute;
    right: 0;
    bottom: 0;
}