@import url("//hello.myfonts.net/count/2e0008");
@font-face {
  font-family: 'Brandon-BoldItalic';
  src: url("../fonts/brandon/2E0008_0_0.eot");
  src: url("../fonts/brandon/2E0008_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_0_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_0_0.woff") format("woff"), url("../fonts/brandon/2E0008_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-Bold';
  src: url("../fonts/brandon/2E0008_1_0.eot");
  src: url("../fonts/brandon/2E0008_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_1_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_1_0.woff") format("woff"), url("../fonts/brandon/2E0008_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-BlackItalic';
  src: url("../fonts/brandon/2E0008_2_0.eot");
  src: url("../fonts/brandon/2E0008_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_2_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_2_0.woff") format("woff"), url("../fonts/brandon/2E0008_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-Black';
  src: url("../fonts/brandon/2E0008_3_0.eot");
  src: url("../fonts/brandon/2E0008_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_3_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_3_0.woff") format("woff"), url("../fonts/brandon/2E0008_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-LightItalic';
  src: url("../fonts/brandon/2E0008_4_0.eot");
  src: url("../fonts/brandon/2E0008_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_4_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_4_0.woff") format("woff"), url("../fonts/brandon/2E0008_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-Light';
  src: url("../fonts/brandon/2E0008_5_0.eot");
  src: url("../fonts/brandon/2E0008_5_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_5_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_5_0.woff") format("woff"), url("../fonts/brandon/2E0008_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-RegularItalic';
  src: url("../fonts/brandon/2E0008_6_0.eot");
  src: url("../fonts/brandon/2E0008_6_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_6_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_6_0.woff") format("woff"), url("../fonts/brandon/2E0008_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-Regular';
  src: url("../fonts/brandon/2E0008_7_0.eot");
  src: url("../fonts/brandon/2E0008_7_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_7_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_7_0.woff") format("woff"), url("../fonts/brandon/2E0008_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-Medium';
  src: url("../fonts/brandon/2E0008_8_0.eot");
  src: url("../fonts/brandon/2E0008_8_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_8_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_8_0.woff") format("woff"), url("../fonts/brandon/2E0008_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-ThinItalic';
  src: url("../fonts/brandon/2E0008_9_0.eot");
  src: url("../fonts/brandon/2E0008_9_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_9_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_9_0.woff") format("woff"), url("../fonts/brandon/2E0008_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-Thin';
  src: url("../fonts/brandon/2E0008_A_0.eot");
  src: url("../fonts/brandon/2E0008_A_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_A_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_A_0.woff") format("woff"), url("../fonts/brandon/2E0008_A_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Brandon-MediumItalic';
  src: url("../fonts/brandon/2E0008_B_0.eot");
  src: url("../fonts/brandon/2E0008_B_0.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/2E0008_B_0.woff2") format("woff2"), url("../fonts/brandon/2E0008_B_0.woff") format("woff"), url("../fonts/brandon/2E0008_B_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Mouse_Deco';
  src: url("../fonts/mouse-deco/mouse_deco-webfont.eot");
  src: url("../fonts/mouse-deco/mouse_deco-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mouse-deco/mouse_deco-webfont.woff2") format("woff2"), url("../fonts/mouse-deco/mouse_deco-webfont.woff") format("woff"), url("../fonts/mouse-deco/mouse_deco-webfont.ttf") format("truetype"), url("../fonts/mouse-deco/mouse_deco-webfont.svg#mouse_decoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
}

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  border: 5px solid #00B6FF;
  border-right: none;
  border-left: none;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  width: 200px;
  float: left;
  padding: 0 90px;
}

.jcarousel-control-prev, .jcarousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 900;
  width: 60px;
  color: #00B6FF;
  cursor: pointer;
}

.jcarousel-control-prev:hover, .jcarousel-control-next:hover {
  background-color: #00B6FF;
  color: #FEFEFE;
}

.jcarousel-control-prev i, .jcarousel-control-next i {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -24px;
  font-size: 48px;
  text-align: center;
}

.jcarousel-control-prev {
  left: 0;
}

.jcarousel-control-next {
  right: 0;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

button {
  background: none;
  border: none;
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 1;
}

*:focus {
  outline-color: #373737;
}

::-webkit-input-placeholder {
  color: #97979a;
}

:-moz-placeholder {
  color: #97979a;
}

::-moz-placeholder {
  color: #97979a;
}

:-ms-input-placeholder {
  color: #97979a;
}

form {
  position: relative;
}

input, textarea, select {
  width: 100%;
  padding: 6px;
  border: 1px solid #C7C7C9;
}

select {
  padding: 5px 6px;
}

textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  display: block;
  padding-bottom: 6px;
  color: #707070;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 8px 24px;
  background-color: #00B6FF;
  border: 3px solid #00B6FF;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 600;
  color: #FEFEFE;
}

button[type="submit"]:focus, button[type="submit"]:hover {
  outline: none;
  background-color: transparent;
  color: #00B6FF;
}

.form_block {
  position: relative;
  clear: both;
  margin-bottom: 40px;
}

.form_block.right, .form_block.left {
  clear: none;
  width: 48%;
}

.form_block.right {
  float: right;
}

.form_block.left {
  float: left;
}

.form_block.buttons {
  margin-top: -20px;
  margin-bottom: 0;
}

@media (max-width: 45em) {
  .form_block.right, .form_block.left {
    float: none;
    width: 100%;
  }
}

.form_group {
  content: "";
  display: table;
  width: 100%;
  margin-bottom: 40px;
}

.form_group:after {
  clear: both;
}

.form--label {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  padding: 0 8px;
  font-size: 16px;
  color: #97979a;
  line-height: 34px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form--label span {
  font-size: 70%;
  float: right;
  color: #C7C7C9;
}

.form--label.focused {
  top: -24px;
  padding: 0;
  line-height: 24px;
}

.form--input, .form--textarea {
  position: relative;
  z-index: 1;
  padding: 6px 8px;
  background-color: transparent;
  border: 1px solid #B0B0B2;
}

.form--input:focus, .form--textarea:focus {
  outline: none;
  border-color: #00B6FF;
}

.form--textarea {
  min-height: 90px;
  line-height: 1.25;
}

.form--heading {
  margin-bottom: 40px;
  font-size: 20px;
  font-size: 1.25rem;
  color: #707070;
  text-align: center;
}

.form--button {
  width: 80%;
  margin: 30px auto 0;
  padding: 12px 0;
}

.form_errors {
  clear: both;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #C02F1D;
}

.form_errors--list {
  margin: 0;
  list-style: none;
}

.form_errors--item {
  margin: 4px;
  color: #FEFEFE;
  line-height: 1.4;
}

.form_thanks {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 20px;
  background-color: #FEFEFE;
  background-color: rgba(254, 254, 254, 0.8);
}

.form_thanks--heading {
  margin: 10px 0 20px;
  font-size: 30px;
  font-size: 1.875rem;
  color: #00B6FF;
  text-align: center;
}

.form_thanks--text {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #00B6FF;
}

a:active, a.active {
  color: #555;
}

a:hover {
  color: #555;
}

p a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.popup_link {
  display: block;
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.popup_link:hover i {
  background-color: #00B6FF;
}

.popup_link i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24px;
  background-color: #C7C7C9;
  font-size: 18px;
  color: #FEFEFE;
  text-align: center;
  line-height: 24px;
}

.popup_link:focus {
  outline: none;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #707070;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #555;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
  font-size: 2.5rem;
}

@media (max-width: 37.5em) {
  h1 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

@media (max-width: 37.5em) {
  h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

h3 {
  font-size: 30px;
  font-size: 1.875rem;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

h6 {
  font-size: 18px;
  font-size: 1.125rem;
}

p {
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

small {
  font-size: 80%;
}

.text_center {
  text-align: center;
}

ul {
  margin: 0 0 0 2em;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  min-width: 320px;
  background-color: #97979a;
}

.section_inner {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.section_inner.clearfix {
  content: "";
  display: table;
  width: 100%;
  width: 90%;
}

.section_inner.clearfix:after {
  clear: both;
}

.site_header {
  content: "";
  display: table;
  width: 100%;
  position: relative;
  z-index: 9999;
  height: 66px;
  background-color: #131516;
}

.site_header:after {
  clear: both;
}

@media (max-width: 35em) {
  .site_header {
    height: 56px;
  }
}

#home .site_header {
  background-color: transparent;
}

.site_header--logo {
  float: left;
  padding-top: 15px;
}

.site_header--logo .logo {
  height: 36px;
}

@media (max-width: 35em) {
  .site_header--logo .logo {
    height: 26px;
  }
}

.site_nav {
  position: relative;
  height: 66px;
}

@media (max-width: 35em) {
  .site_nav {
    height: 56px;
  }
}

.site_nav--button {
  display: none;
  float: right;
  margin: 11px 0 12px;
  padding: 10px 12px;
  border: 2px solid #707070;
  font-size: 18px;
  color: #707070;
}

.site_nav--button:hover {
  border-color: #FEFEFE;
  color: #FEFEFE;
}

.site_nav--button.active, .site_nav--button:focus {
  outline: none;
  background-color: #00B6FF;
  border-color: #00B6FF;
  color: #FEFEFE;
}

@media (max-width: 53.75em) {
  .site_nav--button {
    display: block;
  }
}

@media (max-width: 35em) {
  .site_nav--button {
    padding: 5px 12px;
  }
}

.site_nav--menu {
  margin: 0;
  list-style: none;
  text-align: right;
}

@media (max-width: 53.75em) {
  .site_nav--menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 6px;
    background-color: #00B6FF;
  }
}

.site_nav--item {
  position: relative;
  display: inline-block;
  padding: 11px 4px;
}

.site_nav--item:hover .site_nav--submenu {
  display: block;
}

@media (max-width: 53.75em) {
  .site_nav--item {
    display: block;
    padding: 0;
  }
  .site_nav--item:hover .site_nav--submenu {
    display: none;
  }
}

.site_nav--link {
  display: block;
  padding: 10px 12px;
  border: 2px solid transparent;
  font-size: 18px;
}

.site_nav--link:link, .site_nav--link:visited {
  color: #B0B0B2;
}

.site_nav--link:active, .site_nav--link.active {
  color: inherit;
}

.site_nav--link:hover {
  color: #FEFEFE;
}

.site_nav--link.selected {
  border-color: #707070;
}

.site_nav--link.selected:hover {
  border-color: #FEFEFE;
}

@media (max-width: 53.75em) {
  .site_nav--link {
    padding: 6px 16px;
  }
  .site_nav--link:link, .site_nav--link:visited {
    color: #FEFEFE;
  }
  .site_nav--link:active, .site_nav--link.active {
    color: inherit;
  }
  .site_nav--link:hover {
    color: #00B6FF;
  }
  .site_nav--link:hover {
    background-color: #FEFEFE;
  }
  .site_nav--link.selected {
    border-color: transparent;
  }
  .site_nav--link.selected:hover {
    border-color: transparent;
  }
}

.site_nav--submenu {
  display: none;
  position: absolute;
  top: 101%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding-bottom: 8px;
  background-color: #131516;
  list-style: none;
}

.site_nav--submenu--item {
  padding: 0 8px;
  text-align: center;
}

.site_nav--submenu--link {
  display: block;
  padding: 5px 10px;
  border: 1px solid transparent;
  font-size: 16px;
}

.site_nav--submenu--link:link, .site_nav--submenu--link:visited {
  color: #C7C7C9;
}

.site_nav--submenu--link:active, .site_nav--submenu--link.active {
  color: inherit;
}

.site_nav--submenu--link:hover {
  color: #FEFEFE;
}

#home .home, #work .work, #services .services, #brand .brand, #marketing .marketing, #web .web, #ux .ux, #about .about, #contact .contact, #hire .hire {
  background-color: #00B6FF;
  border-color: #00B6FF;
}

#home .home:link, #home .home:visited, #work .work:link, #work .work:visited, #services .services:link, #services .services:visited, #brand .brand:link, #brand .brand:visited, #marketing .marketing:link, #marketing .marketing:visited, #web .web:link, #web .web:visited, #ux .ux:link, #ux .ux:visited, #about .about:link, #about .about:visited, #contact .contact:link, #contact .contact:visited, #hire .hire:link, #hire .hire:visited {
  color: #FEFEFE;
}

#home .home:active, #home .home.active, #work .work:active, #work .work.active, #services .services:active, #services .services.active, #brand .brand:active, #brand .brand.active, #marketing .marketing:active, #marketing .marketing.active, #web .web:active, #web .web.active, #ux .ux:active, #ux .ux.active, #about .about:active, #about .about.active, #contact .contact:active, #contact .contact.active, #hire .hire:active, #hire .hire.active {
  color: inherit;
}

#home .home:hover, #work .work:hover, #services .services:hover, #brand .brand:hover, #marketing .marketing:hover, #web .web:hover, #ux .ux:hover, #about .about:hover, #contact .contact:hover, #hire .hire:hover {
  color: #FEFEFE;
}

@media (max-width: 53.75em) {
  #home .home, #work .work, #services .services, #brand .brand, #marketing .marketing, #web .web, #ux .ux, #about .about, #contact .contact, #hire .hire {
    border-color: #FEFEFE;
    border-right: none;
    border-left: none;
  }
}

.site_footer {
  padding: 20px 0;
  background-color: #131516;
}

.site_footer .section_inner {
  min-height: 110px;
  padding-left: 400px;
}

@media (max-width: 77.5em) {
  .site_footer .section_inner {
    padding-left: 0;
  }
}

.site_footer--menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

@media (max-width: 77.5em) {
  .site_footer--menu {
    position: static;
    clear: both;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 50em) {
  .site_footer--menu {
    max-width: 440px;
    margin: 10px auto 20px;
  }
}

.site_footer--item {
  display: inline-block;
}

.site_footer--link {
  display: block;
  padding: 6px 10px;
  border: 2px solid transparent;
  font-size: 16px;
}

.site_footer--link:link, .site_footer--link:visited {
  color: #B0B0B2;
}

.site_footer--link:active, .site_footer--link.active {
  color: inherit;
}

.site_footer--link:hover {
  color: #FEFEFE;
}

.site_footer--link.selected {
  border-color: #707070;
}

.site_footer--link.selected:hover {
  border-color: #FEFEFE;
}

@media (max-width: 50em) {
  .site_footer--link.selected {
    border-color: transparent;
  }
  .site_footer--link.selected:hover {
    border-color: transparent;
  }
}

.site_footer--contact {
  padding-top: 42px;
  text-align: right;
}

@media (max-width: 77.5em) {
  .site_footer--contact {
    float: right;
    padding: 0 0 10px;
  }
}

@media (max-width: 35em) {
  .site_footer--contact {
    float: none;
    text-align: center;
  }
}

.site_footer--contact--text {
  color: #B0B0B2;
  line-height: 1.5;
}

@media (max-width: 35em) {
  .site_footer--contact--text {
    display: inline-block;
  }
}

.site_footer--about {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 340px;
}

@media (max-width: 77.5em) {
  .site_footer--about {
    position: relative;
    float: left;
    margin: 10px 0;
  }
}

@media (max-width: 35em) {
  .site_footer--about {
    float: none;
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
  }
}

.site_footer--about--logo {
  margin-bottom: 6px;
}

.site_footer--about--logo .logo {
  height: 26px;
}

.site_footer--about--text {
  font-size: 14px;
  color: #B0B0B2;
  line-height: 1.25;
}

@media (max-width: 77.5em) {
  .site_footer--about--text {
    display: none;
  }
}

.site_footer--social {
  position: absolute;
  top: -2px;
  left: 175px;
  margin: 0;
  list-style: none;
}

@media (max-width: 35em) {
  .site_footer--social {
    position: static;
    margin: 16px auto 0;
  }
}

.site_footer--social--item {
  display: inline-block;
  margin-right: 6px;
  font-size: 30px;
}

.site_footer--social--item a:link, .site_footer--social--item a:visited {
  color: #707070;
}

.site_footer--social--item a:active, .site_footer--social--item a.active {
  color: inherit;
}

.site_footer--social--item a:hover {
  color: #00B6FF;
}

.site_footer--copyright {
  position: absolute;
  right: 0;
  bottom: -10px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.site_footer--copyright a:link, .site_footer--copyright a:visited {
  color: inherit;
}

.site_footer--copyright a:active, .site_footer--copyright a.active {
  color: inherit;
}

.site_footer--copyright a:hover {
  color: #00B6FF;
}

@media (max-width: 50em) {
  .site_footer--copyright {
    clear: both;
    position: static;
    bottom: auto;
    margin-bottom: -10px;
  }
}

.page_top {
  padding: 16px 0;
  background-color: #2f2f2f;
}

.page_top .section_inner {
  padding-right: 200px;
}

@media (max-width: 50em) {
  .page_top .section_inner {
    padding-right: 120px;
  }
}

@media (max-width: 41.25em) {
  .page_top .section_inner {
    padding-right: 0;
  }
}

.page_top--heading {
  display: inline-block;
  font-size: 70px;
  font-size: 4.375rem;
  font-family: "Brandon-Bold","Roboto",Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: #E2E3E4;
  letter-spacing: -3px;
  text-transform: uppercase;
}

@media (max-width: 65em) {
  .page_top--heading {
    font-size: 50px;
    font-size: 3.125rem;
  }
}

@media (max-width: 41.25em) {
  .page_top--heading {
    font-size: 36px;
    font-size: 2.25rem;
    letter-spacing: 0;
    text-align: center;
  }
}

.page_top--years {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -30px;
}

@media (max-width: 50em) {
  .page_top--years {
    margin-top: -22px;
  }
}

@media (max-width: 41.25em) {
  .page_top--years {
    display: none;
  }
}

.page_body .section_inner {
  padding: 40px;
  background-color: #FEFEFE;
}

@media (max-width: 53.75em) {
  .page_body .section_inner {
    padding: 20px 40px;
  }
}

@media (max-width: 41.25em) {
  .page_body .section_inner {
    padding: 20px;
  }
}

@media (max-width: 30em) {
  .page_body .section_inner {
    padding: 20px 10px;
  }
}

.page_body--right {
  float: right;
  width: 54%;
}

@media (max-width: 65em) {
  .page_body--right {
    float: none;
    width: 100%;
  }
}

.page_body--left {
  float: left;
  width: 40%;
}

@media (max-width: 65em) {
  .page_body--left {
    float: none;
    width: 100%;
  }
}

.page_body--left h2 {
  clear: both;
  padding-bottom: 20px;
}

.page_body--left p {
  margin-bottom: 14px;
}

.page_body--skinny {
  clear: both;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.site_cta {
  content: "";
  display: table;
  width: 100%;
  padding: 16px 0;
  background-color: #2f2f2f;
}

.site_cta:after {
  clear: both;
}

.site_cta--text {
  font-size: 30px;
  font-size: 1.875rem;
  color: #E2E3E4;
  text-align: center;
}

@media (max-width: 32.5em) {
  .site_cta--text {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.site_cta--button {
  display: inline-block;
  margin-left: 30px;
  padding: 4px 24px;
  background-color: #00B6FF;
  border: 3px solid #00B6FF;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  vertical-align: middle;
}

.site_cta--button:link, .site_cta--button:visited {
  color: #FEFEFE;
}

.site_cta--button:active, .site_cta--button.active {
  color: inherit;
}

.site_cta--button:hover {
  color: #00B6FF;
}

.site_cta--button:hover {
  background-color: transparent;
  text-decoration: none;
}

@media (max-width: 53.75em) {
  .site_cta--button {
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 10px auto 0;
  }
}

@media (max-width: 32.5em) {
  .site_cta--button {
    max-width: 240px;
    padding: 2px 10px;
    font-size: 16px;
    font-size: 1rem;
  }
}

.flash_message {
  position: fixed;
  top: -360px;
  right: 0;
  z-index: 999999;
  width: 100%;
  max-width: 480px;
  padding: 20px 30px 20px 20px;
  -webkit-transition: top 0.8s;
  transition: top 0.8s;
}

.flash_message.open {
  top: 0;
}

.flash_message.info {
  background-color: #00A8FF;
}

.flash_message.success {
  background-color: #228B22;
}

.flash_message.warning {
  background-color: #F08C2D;
}

.flash_message.danger {
  background-color: #C02F1D;
}

.flash_message--text {
  color: #FEFEFE;
  line-height: 1.4;
}

.flash_message--list {
  margin: 0;
  list-style: none;
}

.flash_message--item {
  color: #FEFEFE;
  line-height: 1.4;
}

.flash_message--close_button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
}

.flash_message--close_button i {
  font-size: 16px;
  font-weight: 400;
  color: #FEFEFE;
}

.flash_message--close_button:hover {
  background-color: rgba(19, 21, 22, 0.1);
}

.quote {
  float: right;
  width: 200px;
  margin: 0 0 10px 20px;
  padding: 10px 0;
  border: 2px solid #C7C7C9;
  border-right: none;
  border-left: none;
}

p.quote--text {
  margin-bottom: 10px;
  line-height: 1.25;
  color: #00B6FF;
}

p.quote--credit {
  float: right;
  margin: 0;
  font-size: 10px;
  font-size: 0.625rem;
  color: #00B6FF;
}

.years {
  height: 60px;
  width: 180px;
  font-family: 'Brandon-Bold';
  font-size: 16px;
  color: #B0B0B2;
  line-height: 1;
}

@media (max-width: 50em) {
  .years {
    height: 44px;
    width: 100px;
    font-size: 11px;
  }
}

.years--top--line, .years--bottom--line {
  width: 51px;
  margin: 0;
  border: none;
  border-bottom: 4px solid #00B6FF;
}

@media (max-width: 50em) {
  .years--top--line, .years--bottom--line {
    width: 34px;
    border-width: 2px;
  }
}

.years--top {
  margin-bottom: 2px;
}

.years--bottom {
  position: relative;
  text-align: right;
}

.years--top--main {
  font-size: 125%;
}

.years--top--sub {
  display: block;
  font-size: 87.5%;
}

.years--top--mid {
  margin: 0 -3px;
  font-size: 112.5%;
  color: #707070;
  vertical-align: baseline;
}

.years--bottom--main {
  font-size: 100%;
  vertical-align: top;
}

.years--bottom--sub {
  display: inline-block;
  font-size: 62.5%;
  line-height: 1;
}

.years--bottom--mid {
  margin: 0 -3px;
  font-size: 150%;
  line-height: .875;
  vertical-align: top;
  letter-spacing: -2px;
}

@media (max-width: 50em) {
  .years--bottom--mid {
    margin: 0 1px;
  }
}

.years--bottom--line {
  position: absolute;
  right: 0;
  bottom: 0;
}

.about_header {
  position: relative;
  margin: 30px 0 20px;
  padding-left: 40px;
}

.about_header--number {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  margin-top: -24px;
  font-size: 48px;
  font-family: 'Brandon-Bold';
  line-height: 1;
  text-align: center;
}

.about_header--heading {
  font-size: 24px;
  font-size: 1.5rem;
  color: #00B6FF;
}

p.about_header--text {
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem;
}

.about_link {
  display: block;
  width: 300px;
  margin: 30px auto 0;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
}

.about_people--heading {
  margin: 30px 0;
  text-align: center;
}

.about_founder {
  position: relative;
  min-height: 184px;
  margin-bottom: 20px;
  padding: 10px;
  padding-right: 178px;
  border: 3px solid #00B6FF;
}

.about_founder--heading {
  margin-bottom: 10px;
  font-size: 26px;
  font-size: 1.625rem;
}

.about_founder--heading span {
  font-size: 80%;
  font-weight: 400;
  font-style: italic;
}

.about_founder--image {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 150px;
}

.about_founder--text {
  font-size: 14px;
  font-size: 0.875rem;
}

.about_person {
  position: relative;
  min-height: 102px;
  margin-bottom: 20px;
  padding: 10px;
  padding-right: 100px;
  background-color: #F2F3F4;
  border: 1px solid #C7C7C9;
}

.about_person--heading {
  margin-bottom: 10px;
  font-size: 22px;
  font-size: 1.375rem;
}

.about_person--heading span {
  font-size: 80%;
  font-weight: 400;
  font-style: italic;
}

.about_person--image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
}

.about_person--text {
  font-size: 14px;
  font-size: 0.875rem;
}

.contact--box {
  content: "";
  display: table;
  width: 100%;
  margin: 30px 0 50px;
  padding: 20px;
  border: 1px solid #C7C7C9;
}

.contact--box:after {
  clear: both;
}

@media (max-width: 41.25em) {
  .contact--box {
    text-align: center;
  }
}

.contact--subheading {
  margin-bottom: 12px;
}

.contact--details {
  float: left;
  width: 50%;
}

.contact--details p {
  line-height: 1.5;
}

@media (max-width: 41.25em) {
  .contact--details {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
}

.contact--details--main {
  margin-bottom: 8px;
}

.contact--address {
  float: right;
  width: 50%;
  font-style: normal;
  line-height: 1.5;
}

@media (max-width: 41.25em) {
  .contact--address {
    float: none;
    width: 100%;
  }
}

.hero {
  position: relative;
  margin-top: -66px;
  background-color: rgba(19, 21, 22, 0.8);
  text-align: center;
}

.hero--logo {
  position: absolute;
  top: 10px;
  left: 0;
}

.hero--heading {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 170px;
  font-size: 70px;
  font-size: 4.375rem;
  font-family: "Brandon-Bold","Roboto",Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: #FEFEFE;
  letter-spacing: -1px;
}

@media (max-width: 67.5em) {
  .hero--heading {
    font-size: 54px;
    font-size: 3.375rem;
  }
}

@media (max-width: 57.5em) {
  .hero--heading {
    padding-top: 120px;
  }
}

@media (max-width: 50em) {
  .hero--heading span {
    display: block;
  }
}

@media (max-width: 31.25em) {
  .hero--heading {
    padding-bottom: 20px;
    font-size: 40px;
    font-size: 2.5rem;
  }
  .hero--heading span {
    display: inline;
  }
}

.hero--text {
  max-width: 700px;
  margin: 0 auto;
  font-size: 20px;
  font-size: 1.25rem;
  color: #FEFEFE;
  text-align: center;
  line-height: 1.75;
}

.hero--text span {
  display: block;
}

@media (max-width: 67.5em) {
  .hero--text {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (max-width: 40em) {
  .hero--text {
    line-height: 1.375;
  }
  .hero--text span {
    display: inline;
  }
}

.hero--button {
  display: inline-block;
  margin: 80px 0 60px;
  padding: 16px 24px;
  background-color: #00B6FF;
  border: 5px solid #00B6FF;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
}

.hero--button:link, .hero--button:visited {
  color: #FEFEFE;
}

.hero--button:active, .hero--button.active {
  color: inherit;
}

.hero--button:hover {
  color: #00B6FF;
}

.hero--button:hover {
  background-color: transparent;
}

@media (max-width: 57.5em) {
  .hero--button {
    margin: 40px 0 40px;
    padding: 12px 24px;
    font-size: 22px;
    font-size: 1.375rem;
  }
}

.hero--image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: bottom center;
}

.client_logos {
  padding: 10px 0;
  background-color: #F2F3F4;
}

.client_logos--list {
  margin: 0;
  list-style: none;
}

.client_logos--item {
  float: left;
  width: 8.33333%;
  text-align: center;
}

@media (max-width: 62.5em) {
  .client_logos--item {
    width: 10%;
  }
  .client_logos--item.four, .client_logos--item.ten {
    display: none;
  }
}

@media (max-width: 50em) {
  .client_logos--item {
    width: 12.5%;
  }
  .client_logos--item.eleven, .client_logos--item.twelve {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .client_logos--item {
    width: 20%;
  }
  .client_logos--item.four, .client_logos--item.ten {
    display: block;
  }
}

@media (max-width: 27.5em) {
  .client_logos--item {
    width: 25%;
  }
  .client_logos--item.four, .client_logos--item.ten {
    display: none;
  }
}

@media (max-width: 21.25em) {
  .client_logos--item {
    width: 33.33333%;
  }
  .client_logos--item.two, .client_logos--item.three {
    display: none;
  }
}

.client_logos--image {
  height: 60px;
}

.index_header {
  padding: 24px 0;
  background-color: #373737;
  text-align: center;
}

.index_header--heading {
  display: inline-block;
  font-size: 50px;
  font-size: 3.125rem;
  font-family: "Brandon-Bold","Roboto",Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: #E2E3E4;
  letter-spacing: -2px;
  text-transform: uppercase;
}

@media (max-width: 40em) {
  .index_header--heading {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.services_section {
  text-align: center;
}

.services_section--list {
  content: "";
  display: table;
  width: 100%;
  margin: 0;
  padding: 50px 0;
  list-style: none;
}

.services_section--list:after {
  clear: both;
}

@media (max-width: 40em) {
  .services_section--list {
    padding: 20px 0;
  }
}

.services_section--list--item {
  position: relative;
  overflow: hidden;
  float: left;
  height: 250px;
  width: 22%;
  background-color: #FEFEFE;
}

.services_section--list--item.brand {
  margin-right: 4%;
}

.services_section--list--item.marketing {
  margin-right: 4%;
}

.services_section--list--item.ux {
  margin-left: 4%;
}

@media (max-width: 66.25em) {
  .services_section--list--item {
    height: 140px;
    width: 46%;
  }
  .services_section--list--item.brand {
    margin-bottom: 4%;
  }
  .services_section--list--item.marketing {
    margin-right: 0;
    margin-bottom: 4%;
    margin-left: 4%;
  }
  .services_section--list--item.web {
    margin-right: 4%;
  }
}

@media (max-width: 53.125em) {
  .services_section--list--item {
    height: 180px;
  }
}

@media (max-width: 40em) {
  .services_section--list--item {
    height: 210px;
  }
}

@media (max-width: 35.625em) {
  .services_section--list--item {
    height: 140px;
    width: 100%;
    margin: 0 0 20px !important;
  }
}

@media (max-width: 25em) {
  .services_section--list--item {
    height: 180px;
  }
}

.services_section--list--item.brand {
  color: #6C477A;
}

.services_section--list--item.marketing {
  color: #D9B346;
}

.services_section--list--item.web {
  color: #6F9942;
}

.services_section--list--item.ux {
  color: #CB5944;
}

.services_section--list--item.brand .services_section--list--door {
  background-color: #6C477A;
}

.services_section--list--item.marketing .services_section--list--door {
  background-color: #D9B346;
}

.services_section--list--item.web .services_section--list--door {
  background-color: #6F9942;
}

.services_section--list--item.ux .services_section--list--door {
  background-color: #CB5944;
}

.services_section--list--link {
  display: block;
  padding: 20px;
}

.services_section--list--link:link, .services_section--list--link:visited {
  color: inherit;
}

.services_section--list--link:active, .services_section--list--link.active {
  color: inherit;
}

.services_section--list--link:hover {
  color: inherit;
}

.services_section--list--link:hover .services_section--list--door {
  top: -300px;
}

.services_section--list--door {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  padding: 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.services_section--list--heading {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Brandon-Bold","Roboto",Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: #FEFEFE;
  line-height: 1.2;
  text-align: right;
}

.services_section--list--subheading {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 20px;
  font-weight: 600;
  color: #FEFEFE;
  line-height: 1.25;
  text-align: left;
}

.services_section--list--text {
  font-weight: 18px;
  font-weight: 400;
  color: inherit;
  line-height: 1.5;
  text-align: left;
}

.services_section--list--note {
  position: absolute;
  right: 20px;
  bottom: 20px;
  left: 20px;
  padding-top: 10px;
  font-size: 16px;
  font-family: "Indie Flower";
  font-weight: bold;
  color: #00B6FF;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

@media (max-width: 66.25em) {
  .services_section--list--note {
    bottom: 10px;
    text-align: right;
  }
}

.services_links {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  padding-right: 50px;
  border: 10px solid #00B6FF;
}

.services_links.brand {
  border-color: #6C477A;
}

.services_links.brand:link, .services_links.brand:visited {
  color: #FEFEFE;
}

.services_links.brand:active, .services_links.brand.active {
  color: inherit;
}

.services_links.brand:hover {
  color: #6C477A;
}

.services_links.brand .services_links--door, .services_links.brand .services_links--arrow {
  background-color: #6C477A;
}

.services_links.marketing {
  border-color: #D9B346;
}

.services_links.marketing:link, .services_links.marketing:visited {
  color: #FEFEFE;
}

.services_links.marketing:active, .services_links.marketing.active {
  color: inherit;
}

.services_links.marketing:hover {
  color: #D9B346;
}

.services_links.marketing .services_links--door, .services_links.marketing .services_links--arrow {
  background-color: #D9B346;
}

.services_links.web {
  border-color: #6F9942;
}

.services_links.web:link, .services_links.web:visited {
  color: #FEFEFE;
}

.services_links.web:active, .services_links.web.active {
  color: inherit;
}

.services_links.web:hover {
  color: #6F9942;
}

.services_links.web .services_links--door, .services_links.web .services_links--arrow {
  background-color: #6F9942;
}

.services_links.ux {
  border-color: #CB5944;
}

.services_links.ux:link, .services_links.ux:visited {
  color: #FEFEFE;
}

.services_links.ux:active, .services_links.ux.active {
  color: inherit;
}

.services_links.ux:hover {
  color: #CB5944;
}

.services_links.ux .services_links--door, .services_links.ux .services_links--arrow {
  background-color: #CB5944;
}

.services_links:hover .services_links--door {
  left: 120%;
}

.services_links--door {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 90;
  width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.services_links--heading {
  position: relative;
  z-index: 100;
  padding: 16px 16px 0;
  font-family: "Brandon-Bold","Roboto",Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: inherit;
  text-align: right;
}

.services_links--terms {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.services_links--terms span {
  margin: 0 6px;
}

.services_links--text {
  margin: 0;
  padding: 16px;
  font-size: 18px;
  font-size: 1.125rem;
  color: inherit;
  line-height: 1.25;
}

.services_links--arrow {
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  z-index: 100;
  width: 60px;
  background-color: #00B6FF;
  color: #FEFEFE;
}

.services_links--arrow i {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -24px;
  font-size: 48px;
  text-align: center;
}

.service_box {
  float: left;
  width: 32%;
  border: 3px solid #00B6FF;
}

.service_box.left {
  margin-right: 2%;
}

.service_box.right {
  margin-left: 2%;
}

.service_box--heading {
  padding: 10px;
  font-size: 18px;
  font-size: 1.125rem;
  color: #FEFEFE;
  text-align: center;
}

.service_box--text {
  padding: 10px;
  font-size: 14px;
  font-size: 0.875rem;
  color: inherit;
  line-height: 1.25;
}

.service_box--link {
  display: block;
  padding: 10px;
  border-top: 3px solid #00B6FF;
  text-align: center;
}

.service_box--link:link, .service_box--link:visited {
  color: #FEFEFE;
}

.service_box--link:active, .service_box--link.active {
  color: inherit;
}

.service_box--link:hover {
  color: inherit;
}

#brand .service_box {
  border-color: #6C477A;
  color: #6C477A;
}

#brand .service_box--heading, #brand .service_box--link {
  background-color: #6C477A;
}

#brand .service_box--link {
  border-color: #6C477A;
}

#brand .service_box--link:hover {
  background-color: white;
}

#marketing .service_box {
  border-color: #D9B346;
  color: #D9B346;
}

#marketing .service_box--heading, #marketing .service_box--link {
  background-color: #D9B346;
}

#marketing .service_box--link {
  border-color: #D9B346;
}

#marketing .service_box--link:hover {
  background-color: white;
}

#web .service_box {
  border-color: #6F9942;
  color: #6F9942;
}

#web .service_box--heading, #web .service_box--link {
  background-color: #6F9942;
}

#web .service_box--link {
  border-color: #6F9942;
}

#web .service_box--link:hover {
  background-color: white;
}

#ux .service_box {
  border-color: #CB5944;
  color: #CB5944;
}

#ux .service_box--heading, #ux .service_box--link {
  background-color: #CB5944;
}

#ux .service_box--link {
  border-color: #CB5944;
}

#ux .service_box--link:hover {
  background-color: white;
}

.service--image {
  width: 100%;
  margin: 30px 0;
}

.service--heading {
  padding-bottom: 10px;
  font-size: 24px;
  font-size: 1.5rem;
}

.service--list li {
  float: left;
  width: 50%;
  line-height: 1.5;
}

.hire_heading {
  margin-bottom: 10px;
}

.hire_text {
  margin-bottom: 20px;
}

.hire_form {
  margin-top: 30px;
}

.hire_form .form_group {
  padding: 20px 20px 0;
  border: 1px solid #C7C7C9;
}

@media (max-width: 37.5em) {
  .hire_form .form_group {
    padding: 20px 10px 0;
  }
}

.testimonials_form {
  margin-top: 40px;
}

.testimonial_quote {
  position: relative;
  margin-bottom: 30px;
  padding-left: 120px;
}

.testimonial_quote--text {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  color: #555;
  line-height: 1.5;
}

.testimonial_quote--text i {
  float: left;
  margin-right: 4px;
  font-size: 20px;
  color: #00B6FF;
  line-height: 1;
}

.testimonial_quote--author {
  margin-top: 10px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #555;
  line-height: 1;
}

.testimonial_quote--company {
  font-size: 12px;
  font-size: 0.75rem;
  color: #555;
}

.testimonial_quote--logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.work--heading {
  padding-bottom: 20px;
}

.work--text {
  margin-bottom: 14px;
}

.work--list {
  content: "";
  display: table;
  width: 100%;
  margin: 0;
  list-style: none;
}

.work--list:after {
  clear: both;
}

.work--item {
  float: left;
  width: 16.6%;
  padding: 20px;
  text-align: center;
}

@media (max-width: 66.25em) {
  .work--item {
    width: 25%;
  }
}

@media (max-width: 47.5em) {
  .work--item {
    width: 33.3%;
  }
}

@media (max-width: 32.5em) {
  .work--item {
    width: 50%;
    padding: 10px;
  }
}

.work--link {
  display: inline-block;
}

.work--link:focus {
  outline: none;
}

.work--link:hover .work--image {
  opacity: 1.0;
}

.work--image {
  border: 10px solid #00B6FF;
  opacity: 0.7;
}

.work--image.brand {
  border-color: #6C477A;
}

.work--image.web {
  border-color: #6F9942;
}

.work--image.ux {
  border-color: #CB5944;
}

@media (max-width: 68.75em) {
  .work_quotes {
    display: none;
  }
}

.work_quote--text {
  position: relative;
  padding-left: 40px;
  color: #555;
  line-height: 1.5;
}

.work_quote--text i {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 32px;
  color: #00B6FF;
}

.work_quote--author {
  margin-top: 10px;
  color: #555;
  text-align: right;
  line-height: 1;
}

.work_quote--company {
  font-size: 14px;
  font-size: 0.875rem;
  color: #555;
  text-align: right;
}
