<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>


# Old Site Redirects
Redirect 301 /default.aspx http://www.pixrite.com/
Redirect 301 /portfolio.aspx  http://www.pixrite.com/work
Redirect 301 /customers.aspx  http://www.pixrite.com/work
Redirect 301 /services.aspx  http://www.pixrite.com/services
Redirect 301 /brand-design-services.aspx  http://www.pixrite.com/brand-design-services
Redirect 301 /web-design-services.aspx  http://www.pixrite.com/web-design-services
Redirect 301 /online-marketing-services.aspx  http://www.pixrite.com/online-marketing-services
Redirect 301 /interface-design-services.aspx  http://www.pixrite.com/interface-design-services
Redirect 301 /about-us.aspx  http://www.pixrite.com/about
Redirect 301 /news-and-events.aspx  http://www.pixrite.com/
Redirect 301 /news/pixrite-20091022-01.aspx  http://www.pixrite.com/
Redirect 301 /news/pixrite-20090716-01.aspx  http://www.pixrite.com/
Redirect 301 /management.aspx  http://www.pixrite.com/about
Redirect 301 /testimonials.aspx  http://www.pixrite.com/testimonials
Redirect 301 /contact.aspx  http://www.pixrite.com/contact
Redirect 301 /request-quote.aspx  http://www.pixrite.com/request-quote